<%if !@properties_chosen.nil?%>
<p>Escolhas:</p>
<ul>
	<%@properties_chosen.each do |p|%>
		<li>
			<%=p.name%>
			<%values = params[:property_id].dup%>
			<%values = values.split(",")%>
			<%values.delete(p.id.to_s)%>
			<%if values.count > 0%>
			<%values = values.join(",")%>
			<%= link_to "", url_for(:property_id => values, :range_id => params[:range_id]) , :class => "removeFilter"%>
			<%else%>
			<%= link_to "", url_for(:range_id => params[:range_id]) , :class => "removeFilter"%>
			<%end%>
		</li>
	<%end%>
</ul>
<%end%>
<%if !params[:range_id].blank?%>
	<ul>
		<li><%=@curr_range.description%><%= link_to "", url_for(:property_id => params[:property_id]), :class => "removeFilter" %></li>
	</ul>
<%end%>

<span class="separator">&nbsp;</span>

<p>Propriedades</p>
	<ul>
		<li>
		<%= link_to "Qualquer ("+@products_all.count.to_s+")", url_for(:range_id => params[:range_id]) %>
		</li>
		<% @properties.each do |property| %>
		<li>
			<% if !params[:property_id].nil?%>
				<%if !params[:property_id].dup.split(",").include?(property.id.to_s)%>
				<% values = params[:property_id].dup %>
					<%= link_to property.name + " ("+ byProp(property.products, @category, property).count.to_s+")", url_for(:property_id =>  values.concat(","+property.id.to_s), :range_id => params[:range_id]) %>
				<%end%>	
			<%else%>
				<%= link_to property.name + " ("+ byProp(property.products, @category, property).count.to_s+")", url_for(:property_id => property.id, :range_id => params[:range_id]) %>	
			<%end%>						    
		</li>
		<%end%>
	</ul>
	
<span class="separator">&nbsp;</span>

<p>Preço</p>
	<ul>
		<%@ranges.each do |range|%>
		<li>
			<%= link_to range.description, url_for(:property_id => params[:property_id], :range_id => range.id) %>
		</li>
		<%end%>
	</ul>