<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.name %>
</p>

<p>
  <b>User:</b>
  <%= @order.email %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', root_path %>
