<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart_title">Carrinho</div>
<table>    
  <% @cart.line_items.each do |item| %>
	<tr>
    	<td><%= item.quantity %>&times;</td>
	    <td><%= item.product.name %></td>
    	<td class="item_price"><%= number_to_currency(item.product.price) %></td>
    	<td><%= button_to 'Remover', item, :method => :delete, :confirm => 'Tem a certeza?'%></td>
	</tr>
  <% end %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'Limpar Carrinho', @cart, :method => :delete, :confirm => 'Tem a certeza?'%>

<%= link_to 'Back', products_path %>
