<%if !params[:property_id].nil?%>
<p>Escolheu as seguintes Propriedades:</p>
<ul>
</ul>
<%end%>

<%if !params[:range].blank?%>
<p>Escolheu os seguintes preços:</p>
<ul>
</ul>
<%end%>

<span class="separator">&nbsp;</span>

<p>Propriedades</p>
	<ul>
		<% @properties.each do |property| %>
		<li>
			<% if !params[:property_id].nil?%>
				<%if !params[:property_id].dup.split(",").include?(property.id.to_s)%>
				<% values = params[:property_id].dup %>
					<%= link_to property.name + " ("+property.products.count.to_s+")", category_path(
					:property_id =>  values.concat(","+property.id.to_s), :range => params[:range]) %>
				<%end%>	
			<%else%>
				<%= link_to property.name + " ("+property.products.count.to_s+")", category_path(:property_id => property.id, :range => params[:range]) %>	
			<%end%>						    
		</li>
		<%end%>
	</ul>
	
<span class="separator">&nbsp;</span>

<p>Preço</p>
	<ul>
		<li>
			<%= link_to "Entre 0€ e 10€", category_path(:property_id => params[:property_id], :range => "1") %>
		</li>
		<li>
			<%= link_to "Entre 10€ e 50€", category_path(:property_id => params[:property_id], :range => "2") %>
		</li>
		<li>
			<%= link_to "Mais de 50€", category_path(:property_id => params[:property_id], :range => "3") %>
		</li>
	</ul>