<div class="span6">
<% for i in 0...@products.length do%>
<% if i%2 == 0%>
<div class="box span6">
	<div class="photo">
	<%= link_to image_tag(@products[i].photo.url(:medium)), product_path(@products[i]) %>
	</div>
	<p><strong><%= link_to @products[i].name, product_path(@products[i])%></strong></p>
	<div>
		<div class="price">
			<strong><%= number_to_currency(@products[i].price, :unit => "&euro;" )%></strong>
		</div>
		<div class="abuttons">
			<%= button_to 'Comprar', line_items_path(:product_id => @products[i]), :class => "btn success small", :remote => true %>
			<%= facebook_like :url => root_url+"products/"+@products[i].id.to_s, :count => "count", :class => "count" %>
		</div>
	</div>
</div>
<%end%>
<%end%>
</div>
<div class="span6">
<% for i in 0...@products.length do%>
<% if i%2 != 0%>
<div class="box span6 right">
		<div class="photo">
    	<%= link_to image_tag(@products[i].photo.url(:medium)), product_path(@products[i]) %>
    	</div>
		<p><strong><%= link_to @products[i].name, product_path(@products[i])%></strong></p>
		<div>
			<div class="price">
				<strong><%= number_to_currency(@products[i].price, :unit => "&euro;")%></strong>
			</div>
			<div class="abuttons">
				<%= button_to 'Comprar', line_items_path(:product_id => @products[i]), :class => "btn success small", :remote => true %>
				<%= facebook_like :url => root_url+"products/"+@products[i].id.to_s, :count => "count", :class => "count" %>
			</div>
		</div>
</div>
<%end%>
<%end%>
</div>