<% session[:back] = request.fullpath %>
<div id="notice" class="alert-message"><a class="close" href="#">×</a><p><%=notice%><p></div>
<h1><%=@category.name%></h1>
<div class="row">
<div class="span4">
	<div class="filters">
		<h3>Filtros</h3>
		<%= render "filters" %>
	</div>
</div>

<div class="span12">
	<div class="row">
		<%= render "products" %>
	</div>
	<div class="row">
		<%= paginate @products%>
	</div>
</div>
</div>
