<p id="notice"><%= notice %></p>
<% session[:back] = request.fullpath %>

<h1><%=@category.name%></h1>


<div class="row">
<div class="span4">
	<div class="filters">
		<p>Propriedades</p>
		<ul>
			<% @properties.each do |property| %>
			<li>
				<%= link_to property.name + " ("+property.products.count.to_s+")", category_path(:property_id => property.id, :range => params[:range]) %>
			</li>
			<%end%>
		</ul>
		<span class="separator">&nbsp;</span>
		<p>Preço</p>
		<ul>
			<li>
				<%= link_to "Entre 0€ e 10€", category_path(:property_id => params[:property_id], :range => "1") %>
			</li>
			<li>
				<%= link_to "Entre 10€ e 50€", category_path(:property_id => params[:property_id], :range => "2") %>
			</li>
			<li>
				<%= link_to "Mais de 50€", category_path(:property_id => params[:property_id], :range => "3") %>
			</li>
		</ul>
	</div>
</div>

<div class="span12">
	<div class="row">
	<div class="span6">
	<% for i in 0...@products.length do%>
	<% if i%2 != 0%>
	<div class="box span5">
		<div class="photo">
    	<%= link_to image_tag(@products[i].photo.url(:medium)), product_path(@products[i]) %>
    	</div>
		<p><strong><%= link_to @products[i].name, product_path(@products[i])%></strong></p>
		<div>
			<div class="price">
				<strong><%= number_to_currency(@products[i].price, :locale => :fr)%></strong>
			</div>
			<div class="abuttons">
				<%= button_to 'Comprar', line_items_path(:product_id => @products[i]), :class => "btn success small", :remote => true %>
				<%= button_to 'Facebook', line_items_path(:product_id => @products[i]), :class => "btn info small" %>
			</div>
		</div>
	</div>
	<%end%>
	<%end%>
	</div>
	<div class="span6">
	<% for i in 0...@products.length do%>
	<% if i%2 == 0%>
	<div class="box span5">
    		<div class="photo">
	    	<%= link_to image_tag(@products[i].photo.url(:medium)), product_path(@products[i]) %>
	    	</div>
			<p><strong><%= link_to @products[i].name, product_path(@products[i])%></strong></p>
			<div>
				<div class="price">
					<strong><%= number_to_currency(@products[i].price, :locale => :fr)%></strong>
				</div>
				<div class="abuttons">
					<%= button_to 'Comprar', line_items_path(:product_id => @products[i]), :class => "btn success small", :remote => true %>
					<%= button_to 'Facebook', line_items_path(:product_id => @products[i]), :class => "btn info small" %>
				</div>
			</div>
	</div>
	<%end%>
	<%end%></div>
	</div>
</div>
</div>
<%= link_to 'Back', root_path %>
