<p id="notice"><%= notice %></p>
<% session[:back] = request.fullpath %>

<h1><%=@category.name%></h1>


<div class="row">
<div class="span4">
	FILTROS
</div>
<div class="span12">
	<div class="row">
	<div class="span6">
	<% for i in 0...@products.length do%>
	<% if i%2 != 0%>
	<div class="box span5">
    	<%= image_tag @products[i].photo.url(:medium) %>
    	<%= @products[i].name%><br/><br/>
		Preço: <%= number_to_currency(@products[i].price, :locale => :fr)%> 
		<br/>
		<br/>
		<%= button_to 'Adicionar', line_items_path(:product_id => @products[i]), :class => "btn success", :remote => true %>
		<%= button_to 'Facebook', line_items_path(:product_id => @products[i]), :class => "btn info" %>
	</div>
	<%end%>
	<%end%>
	</div>
	<div class="span6">
	<% for i in 0...@products.length do%>
	<% if i%2 == 0%>
	<div class="box span5">
    	<%= image_tag @products[i].photo.url(:medium) %>
    	<%= @products[i].name%><br/><br/>
		Preço: <%= number_to_currency(@products[i].price, :locale => :fr)%> 
		<br/>
		<br/>
		<%= button_to 'Adicionar', line_items_path(:product_id => @products[i]), :class => "btn success", :remote => true %>
		<%= button_to 'Facebook', line_items_path(:product_id => @products[i]), :class => "btn info" %>
	</div>
	<%end%>
	<%end%></div>
	</div>
</div>
</div>
<%= link_to 'Back', root_path %>
