<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Reference:</b>
  <%= @product.reference %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Thumb url:</b>
  <%= @product.thumb_url %>
</p>

<p>
  <b>Visits:</b>
  <%= @product.visits %>
</p>

<p>
	<b>Propriedades</b>
	<% @product.properties.all.each do |property|%>
	<p><%= property.name %></p>
	<% end %>
</p>
<%= button_to 'Adicionar', line_items_path(:product_id => @product) %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', session[:back]  %>
