<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Criart</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
  <body>

    <div class="topbar <%="criart" unless request.path != "/"%>">
      <div class="fill">
        <div class="container">
            <h3>
                <%= link_to image_tag("/assets/logo.png"), root_path, :width => "179px", :height => "40px", :alt => "Criart Concept", :class => "logo"%></h3>
          <ul class="nav pills">
            <% Category.all.each do |category| %>
                <li><%= link_to category.name , category_path(category) %></li>
            <% end %>
          </ul>
            <div id="user_nav" class="info">

              <% if user_signed_in? %>
                <%= current_user.email %>
                <%= link_to "Carrinho", carts_path, :class => "cart"%><span id="totalElems"><%=@cart.line_items.count%></span>
                <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
              <% else %>
                <%= link_to "Carrinho", carts_path, :class => "cart"%>
                <%= link_to "Registar", new_user_registration_path %> ou<%= link_to "Entrar", new_user_session_path %>
              <% end %>
            </div>

        </div>
          <% if request.path == "/" %>
            <div class="container">
                <div class="row mtop40 mbottom40">
                    <div class="span7">
                        <ul class="media-grid">
                            <% Product.find(:all, :order => 'updated_at desc', :limit => 12).each do |product|%>
                                <li><%= link_to image_tag(product.photo.url(:thumb)), product_path(product), :class => "thumbnail"%></li>
                            <%end%>
                        </ul>
                    </div>
                    <div class="span9 text-centered mtop20">
                        <h1>Criart Concept</h1>
                        <h3 class="home">Fazemos Jóias à sua medida!</h3>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>

    <div class="container">
      <% if request.path == "/" %>
        <div class="row mbottom40 mtop40">
                <div class="span4 text-centered">
                    <div><img src="https://d1uycljvtt30eq.cloudfront.net/20111114-1/images/home/projects.png" title="Projects" alt="Projects" width="154px" height="90px"></div>
                    <h2>Joias</h2>
                    <h4 class="home">Conheça as nossas joias</h4>
                </div>
                <div class="span4 text-centered">
                    <div><img src="https://d1uycljvtt30eq.cloudfront.net/20111114-1/images/home/skills.png" title="Skills" alt="Skills" width="154px" height="90px"></div>
                    <h2>Colecções</h2>
                    <h4 class="home">Várias colecções para ver</h4>
                </div>
                <div class="span4 text-centered">
                    <div><img src="https://d1uycljvtt30eq.cloudfront.net/20111114-1/images/home/devscore.png" title="DevScore" alt="DevScore" width="154px" height="90px"></div>
                    <h2>Populares</h2>
                    <h4 class="home">O que os nossos clientes mais gostam.</h4>
                </div>
                <div class="span4 text-centered">
                    <div><img src="https://d1uycljvtt30eq.cloudfront.net/20111114-1/images/home/achievements.png" title="Achievements" alt="Achievements" width="154px" height="90px"></div>
                    <h2>Atelier</h2>
                    <h4 class="home">O nosso atelier</h4>
                </div>
            </div>
        <% end %>
    <div class="main">
        <%= yield %>
    </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
